<div class="player-stats container">
    <div class="row">
        <div class="player-image col-lg-4 col-12">IMAGE OF PLAYER WILL GO HERE</div>
        <div class="player-stats col-lg-8 col-12">
            <div class="row">
                <h3>Player Name</h3>
            </div>
            <div class="row">
                <div class="col">
                    <h4>HP</h4>
                </div>
                <div class="col">
                    <h4>Level</h4>
                </div>
            </div>
        </div>
    </div>
    



</div>