




{{!-- MONSTER's STATS --}}
<div id="monster">
    <img src="/images/loading.gif" alt="" id="monster-image">
    <h2 id="monster-name">Loading...</h2>
    <p id="monster-description">Loading...</p>
    <h3 id="monster-riddle">Loading...</h3>
    </div>
<form>
    <label for="#answerInput">Answer</label>
    <input class="mb-3" id="answerInput">
<br>
<button id="answerInputBtn">Input Answer!</button>
</form>




{{!-- <button id="answer-input"> Input Answer!</button> --}}



{{!-- These buttons are to test api calls that change session health and session level --}}

<hr>
<p>Use the buttons below and refresh the page to test out changing session values</p>
<button id="decrement-health-test">Lower Health</button>
<button id="increase-level-test">Level Up</button>
<button id="increase-riddle-index">Next Riddle</button>

<script src="/js/battle.js" hp={{hp}} level={{level}} riddleIndex = {{riddleIndex}}></script>