<h1>Game Over</h1>

<h2>Thank you for playing</h2>
{{!-- Possibly add an if statement --}}

{{#if }}
<h3>Congratulations, you defeated The Liar of THE Sphinx!</h3>
{{#else }}
<h3>The sphinx had gotten this time better luck next time!</h3>
{{/if}}

<button id="return-home">Return Home</button>
<script src="/js/game-over.js"></script>