
{{#if loggedIn}}
<a href="/battle">
<img class="enterance-img" src="/images/enterance.jpg" alt="enterance to the dungeon">
<h1>Enter the Lair of the Sphinx</h1>
</a>
{{else}}
<a href="/login">
<img class="enterance-img" src="/images/tri-death.png" alt="enterance to the dungeon">
<h1>Log in to enter the Lair of the Sphinx</h1>
</a>
{{/if}}
