<h1>Log In!</h1>
<p>If you have an account already</p>
<form>
    <label for="#userName">Username</label>
    <input id="userNameInput">

      <label for="#passwordInput">Password</label>
    <input id="passwordInput" type="password">
    <button id="logInBtn">Log In!</button>
</form>




<p>If you need to create an account please <a href="/signup">Sign Up!</a></p>



<script src="/js/login.js"></script>