<form>
    <label for="#userName">Username</label>
    <input id="userNameInput" placeholder="Username">

      <label for="#passwordInput">Password</label>
    <input id="passwordInput" type="password">
          <label for="#characterName">Character Name</label>
    <input id="charNameInput">
          <label for="#characterGender">Character Gender</label>
    <select id="charGenderInput">
        <option value="male">Male</option>
        <option value="female">Female</option>
    </select>
    <button id="signUpBtn">Login</button>
</form>