<h1>Log In!</h1>
<hr>
<p>If you have an account already</p>
<br>
<form>
    <label for="#userName">Username</label>
    <input class="mb-3" id="userNameInput">
  <br>
    <label for="#passwordInput">Password</label>
    <input class="mb-3" id="passwordInput" type="password">
<br>
    <button id="logInBtn">Log In!</button>
</form>
<br>
<p>If you need to create an account please <a style="text-decoration: underline;" href="/signup">Sign Up!</a></p>

<script src="/js/login.js"></script>