<h1>High Scores</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Character Name</th>
            <th scope="col">Health Points</th>
            <th scope="col">High Score</th>
        </tr>
    </thead>
    <tbody>
        {{#each this}}
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>
         {{/each}}
    </tbody>
</table>