<h1>Sign Up!</h1>
<hr>
<p>If you yet to have an account</p>

<form>
    <label for="#userName">Username</label>
    <input class="mb-3" id="userNameInput">
  <br>
    <label for="#passwordInput">Password</label>
    <input class="mb-3" id="passwordInput" type="password">
    <br>
    <button id="signUpBtn">Sign Up!</button>
</form>
<br>
<p>Already have an account? <a style="text-decoration: underline;" href="/login">Log In!</a></p>
<script src="/js/signup.js"></script>