<h1>Sign Up!</h1>
<hr>
<form>
    <label for="#userName">Username</label>
    <input class="mb-3" id="userNameInput">
  <br>
    <label for="#passwordInput">Password</label>
    <input class="mb-3" id="passwordInput" type="password">
    <br>
    <button id="signUpBtn">Sign Up!</button>
</form>

<script src="/js/signup.js"></script>