<h1>Sign Up!</h1>
<form>
    <label for="#userName">Username</label>
    <input id="userNameInput">

      <label for="#passwordInput">Password</label>
    <input id="passwordInput" type="password">
    <button id="signUpBtn">Sign Up!</button>
</form>

<script src="/js/signup.js"></script>