body {
    font-family: 'Permanent Marker', cursive;
    background-color: antiquewhite;
}

nav {
    font-family: 'Chakra Petch', sans-serif;

}
.navbar-brand {

    font-weight: bolder;
    font-size: 40px;
    
}


 