body {
    font-family: 'Permanent Marker', cursive;
    background-color: antiquewhite;
}
.navbar {
    font-family: 'Chakra Petch', sans-serif;
}
.navbar-brand {

    font-weight: bolder;
    font-size: larger;
}


 